.date-filter {
  width: 100px;
  display: inline-block;
}

.board-table {
  text-align: center;
  font-size: 0.9rem;
}

.date-th,
.city-th,
.temp-th,
.del-th {
  width: 10%;
}

.weather-th {
  width: 15%;
}

.board-table button {
  font-size: 0.85rem;
}

@media (max-width: 992px) {
  .date-th,
  .city-th {
    width: 15%;
  }
}
