@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.header {
  height: 100px;
}
.header h1 {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  line-height: 100px;
}

.google-icon {
  width: 15px;
  margin-right: 5px;
  transform: translateY(-2px);
}

.login-button {
  font-size: 0.9rem;
}
